doctype
html
    head
        title Hola Mundo
        link(rel="stylesheet",href="https://www.tucomunidad.co/tucomunidad/res/css/bootstrap.min.css") 
    body
        -for (a in nom)
            button(class="btn btn-primary") Botón de #{nom[a].nombre} !!
            br
            br